body {
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
}

.parent {
    width: 60%;
    height: 170svh;
    border-radius: 20px;
    position: relative;
    left: 50px;
}

form {
    position: relative;
    font-size: 24px;
    top: 50px;
    left: 10px;
}

tr {
    text-align: center;
}
